<div class="container my-4 card">

    <!-- Employees Tab -->
    <div class="tab-pane fade show active" id="employees" role="tabpanel">
        <div class="row">
            <div class="col-md-6 col-lg-6 col-12">
                <h2>Employees Crud Opertions </h2>
            </div>
            <div class="col-md-6 col-lg-6 col-12 text-end">
                <button class="btn btn-success mt-3" (click)="isempFormVisble.set(true)"><i class="fa fa-plus" aria-hidden="true"></i>
                    Employee</button>
            </div>
        </div>

        <!-- Employee Form -->
        @if(isempFormVisble()) {
        <form class="mb-4">
            <div class="row">
                <div class="col-md-6">
                    <label for="employeeName" class="form-label">Employee Name</label>
                    <input type="text" class="form-control" [(ngModel)]="employeeObj.employeeName" name="employeeName"
                        id="employeeName" placeholder="Enter employee name">
                </div>
                <div class="col-md-6">
                    <label for="contactNo" class="form-label">Contact No</label>
                    <input type="text" class="form-control" [(ngModel)]="employeeObj.contactNo" name="contactNo"
                        id="contactNo" placeholder="Enter contact number">
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <label for="emailId" class="form-label">Email</label>
                    <input type="email" class="form-control" [(ngModel)]="employeeObj.emailId" name="emailId"
                        id="emailId" placeholder="Enter email">
                </div>

                <div class="col-md-6">
                    <label for="deptId" class="form-label">Parent Department</label>
                    <select id="deptId" class="form-select" [(ngModel)]="parenDeptId" (change)="onParentDeptIdChange()">
                        <option selected>Select department</option>
                        <!-- Department options -->
                        @for(item of parentEmpList(); track $index){
                        <option [value]="item.departmentId">{{item?.departmentName}}</option>

                        }

                    </select>
                </div>

                <div class="col-md-6">
                    <label for="deptId" class="form-label">Child Department</label>
                    <select id="deptId" class="form-select">
                        <option selected>Select department</option>
                        @for(item of childDeptEmpList(); track $index){
                        <option [value]="item">{{item?.departmentName}}</option>

                        }
                    </select>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6">
                    <label for="password" class="form-label">Password</label>
                    <input type="password" class="form-control" [(ngModel)]="employeeObj.password" name="password"
                        id="password" placeholder="Enter password">
                </div>
                <div class="col-md-6">
                    <label for="role" class="form-label">Role</label>
                    <input type="text" class="form-control" [(ngModel)]="employeeObj.role" name="role" id="role"
                        placeholder="Enter role">
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <label for="gender" class="form-label">Gender</label>
                    <select id="gender" class="form-select" [(ngModel)]="employeeObj.gender" name="gender">
                        <option selected>Select gender</option>
                        <option value="Male">Male</option>
                        <option value="Female">Female</option>
                        <option value="Other">Other</option>
                    </select>
                </div>
            </div>

            @if(this.employeeObj.employeeId == 0){
            <button type="submit" class="btn btn-success mt-3" (click)="onSave()">Save Employee</button>
            }
            @else {
            <button type="submit" class="btn btn-warning mt-3" (click)="onUpdate()">Update Employee</button>
            }
            <button type="submit" class="btn btn-danger mt-3 mx-3" (click)="isempFormVisble.set(false)"><i class="fa fa-close" aria-hidden="true"></i>
            </button>
        </form>
        }

        <br />
        <!-- Employee Table -->

        <table class="table  table-dark table-striped">
            <thead>
                <tr>
                    <th>S.No</th>
                    <th>Name</th>
                    <th>Contact No</th>
                    <th>Email</th>
                    <th>Department</th>
                    <th>Role</th>
                    <th>Gender</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>


                <!-- Data rows go here -->

                @for(emp of empList(); track $index){
                <tr>
                    <td>{{$index +1}}</td>
                    <td>{{emp?.employeeName}}</td>
                    <td>{{emp?.contactNo}}</td>
                    <td>{{emp?.emailId}}</td>
                    <td>{{emp?.deptId}}</td>
                    <td>{{emp?.role}}</td>
                    <td>{{emp?.gender}}</td>
                    <td>
                        <button class="btn btn-success" (click)="onEdit(emp)"><i class="fa fa-pencil" aria-hidden="true"></i>
                        </button>
                        <button class="btn btn-danger mx-2" (click)="onDelete(emp.employeeId)"><i class="fa fa-trash" aria-hidden="true"></i>
                        </button>
                    </td>

                </tr>
                }
                @empty {
                <div class="text-center">
                    <b class="text-center text-danger font-weight-bold"> Employees is Not Found.</b>
                </div>
                }

            </tbody>
        </table>
    </div>
</div>