<section>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">
      <a routerLink="/dashboard" class="navbar-brand text-primary font-weight-bold">
        <i class="fa fa-cube fa-2x" aria-hidden="true"></i>
        EMP <span class="text-danger">MAGEMENT</span> </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ms-auto mb-2 mb-lg-0 text-end">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" routerLink="/dashboard">Dashbord</a>
          </li>

          <li class="nav-item">
            <a class="nav-link active" aria-current="page" routerLink="/employee">Employee</a>
          </li>


          <li class="nav-item">
            <a class="nav-link active" aria-current="page" routerLink="/project-list"> Projects</a>
          </li>

          <li class="nav-item">
            <a class="nav-link active" aria-current="page" routerLink="/project-emp">Project-Employes</a>
          </li>
        </ul>

        <a class="btn btn-dark"><i class="fa fa-user-circle-o" aria-hidden="true"></i> <span
            class="text-white font-weight-bold text-uppercase"> {{this.profile?.developeruser}}</span></a>

        <img [src]="this.profile?.user_pic"
          class="img-responsive img-thumbnail img-fluid img-rounded animated rollIn mx-2" width="50" height="50"
          style="border-radius: 100%">

        <button class="btn btn-danger btn-sm mx-2" (click)="logOut()" type="submit">
          <i class="fa fa-power-off" aria-hidden="true"></i>
        </button>

      </div>
    </div>
  </nav>
</section>


<router-outlet />