<section class="container-fluid">
  <div class="text-center">
  <h1 class="text-center text-primary font-weight-bold py-3">Angular charts Js</h1>
    <div class="chart-buttons">
      <button *ngFor="let type of barChartType" (click)="allBarChart(type)" class="btn btn-dark btn-lg">
        {{ type }}
      </button>
    </div>
  </div>

  <div class="row py-5">
    <div class="col-md-7 col-lg-7 col-12 text-center mx-auto">
      <div class="card mb-3">
        <div class="card-header" style="text-transform: capitalize; font-size: 1.5rem;">Select Chart Type: {{chartType}} </div>
        <div class="card-body">
          <div style="display: block;">
            <canvas id="canvas">{{ chart }}</canvas>
            <!-- <canvas #barCanvas></canvas> -->
          </div>
        </div>
      </div>
    </div>
  </div>
</section>