<br />
<section class="container card">

    <div class="row">
        <div class="col-md-6 col-lg-6 col-12">
            <h2>All Project List </h2>
        </div>
        <div class="col-md-6 col-lg-6 col-12 text-end">
            <button class="btn btn-success mt-3" routerLink="/add-project/0"><i class="fa fa-plus"
                    aria-hidden="true"></i>
                New Project</button>
        </div>
    </div>

    <br />
    <table class="table table-success table-striped">
        <thead>
            <tr>
                <th>S.No</th>
                <th>Project Name</th>
                <th>Client Name</th>
                <th>Start Date</th>
                <th>Lead By Employee</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>


            <!-- Data rows go here -->

            @for(emp of empProjectList; track $index){
            <tr>
                <td>{{$index +1}}</td>
                <td>{{emp?.projectName}}</td>
                <td>{{emp?.clientName }}</td>
                <td>{{emp?.startDate | date}}</td>
                <td>{{emp?.leadByEmpId}}</td>
                <td>
                    <button class="btn btn-success" (click)="onEdit(emp.projectId)">
                        <i class="fa fa-pencil" aria-hidden="true"></i>
                    </button>
                    <button class="btn btn-danger mx-2" (click)="onDelete(emp.projectId)">
                        <i class="fa fa-trash" aria-hidden="true"></i>

                    </button>
                </td>
            </tr>
            }
            @empty {
            <div class="text-center">
                <b class="text-center text-danger font-weight-bold"> Project Data is Not Found.</b>
            </div>
            }

        </tbody>
    </table>
</section>